/* Thin 100 Italic
Regular 400
Bold 700 */


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(2, 135, 255);
    font-family: 'Roboto', sans-serif;
    margin: 0 5vw;
    color: white;
    box-sizing: border-box;
}

header {
    width: 60vw;
    height: 40vh;
    margin: 2vh 15vw;
    z-index: -1;
}

.header__fact{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #052c69;
    height: 50%;
    transform: rotate(358deg);
    z-index: -1;
    opacity: 0;
    animation: fade 2s ease-in-out forwards;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(30vh);
    }

    to {
        opacity: 1;
        transform: translateY(0358deg);
    }
}


header div p {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    transform: rotate(358deg);
    align-self: center;
}

header h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: 700;
    color: white;
    margin-top: 0;
    letter-spacing: 20px;
    text-transform: uppercase;
    margin-top: -2rem;
    z-index: 1;
}

.introduction {
    display: flex;
}

.introduction div {
    width: 50%;
    padding: 1rem;
    text-align: justify;

}

.introduction div img {
    width: 20%;
    height: auto;
}

.introduction__orign {
    line-height: 1.5rem;
}

.introduction__name {
    font-weight: bold;
    line-height: 1.5rem;
}

.facts {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.facts__about {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #052c69;
    height: 3rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 1;
}

.facts__about p {
    align-self: center;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.facts__lang {
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    height: 7rem;
    color: #052c69;
    margin-top: -1rem;

}

.facts__lang p {
    align-self: center;
    text-align: center;
}

.container {
    display: grid;
    width: 90vw;
    height: 90vh;
    grid-template-columns: 47% 3% 3% 47%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 3rem;
}

.date__size-title {
    grid-column: 1/1;
    grid-row: 1/1;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #052c69;
    width: 50%;
    text-align: center;
    margin-left: 2rem;
    padding: .5rem;
    position: relative;
    z-index: 1;
    transform: rotate(359deg);
}


.date__size {
    grid-column: 1/1;
    grid-row: 2/5;
    margin-left: 5rem;
    padding: 6% 15% 1% 10%;
    display: flex;
    text-align: justify;
    background-color: #fff2e7;
    color: #052c69;
    margin-top: -1rem;
    background-image: url(./img/rule.png);
    background-repeat: no-repeat;
    background-position: right 100%;
    background-size: 20%;
    z-index: -1;
}

.date__size::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 30%;
    background-image: url(./img/number1.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -13%;
}


.date__population-title {
    grid-column: 4/5;
    grid-row: 2/2;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #052c69;
    width: 80%;
    text-align: center;
    margin-left: 2rem;
    padding: .5rem;
    position: relative;
    z-index: 1;
    transform: rotate(359deg);
}

.date__population {
    grid-column: 4/4;
    grid-row: 3/5;
    padding: 6% 15% 1% 20%;
    padding-right: 20%;
    text-align: justify;
    background-color: #fff2e7;
    color: #052c69;
    margin-top: -1rem;
    background-image: url(./img/crowed.png);
    background-repeat: no-repeat;
    background-position: right 100%;
    background-size: 20%;
}

.date__population::before {
    content: "";
    position: absolute;
    width: 25%;
    height: 25%;
    background-image: url(./img/number2.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -16%;
}


.date__lang-title {
    grid-column: 1/1;
    grid-row: 6/6;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #052c69;
    width: 50%;
    text-align: center;
    margin-left: 2rem;
    padding: .5rem;
    position: relative;
    z-index: 1;
    transform: rotate(359deg);
}

.date__lang {
    grid-column: 1/1;
    grid-row: 7/10;
    padding: 4% 5% 0% 20%;
    text-align: justify;
    background-color: #fff2e7;
    color: #052c69;
    background-image: url(./img/spoken.png);
    background-repeat: no-repeat;
    background-position: right 100%;
    background-size: 20%;
}

.date__lang::before {
    content: "";
    position: absolute;
    width: 25%;
    height: 25%;
    margin-top:0;
    background-image: url(./img/number3.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -15%;
}

.date__rio-title {
    grid-column: 4/4;
    grid-row: 6/6;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #052c69;
    width: 50%;
    text-align: center;
    margin-left: 2rem;
    padding: .5rem;
    position: relative;
    z-index: 1;
    transform: rotate(359deg);
}


.date__rio {
    grid-column: 4/4;
    grid-row: 7/9;
    padding: 4% 20% 0% 20%;
    text-align: justify;
    background-color: #fff2e7;
    color: #052c69;
    /* margin-top: 1rem; */
    background-image: url(./img/cristo-redentor.svg);
    background-repeat: no-repeat;
    background-position: right 120%;
    background-size: 20%;
}

.date__rio::before {
    content: "";
    position: absolute;
    width: 25%;
    height: 25%;
    /* margin-top:1%; */
    background-image: url(./img/number4.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -15%;
}

.sep {
    position: relative;
    grid-row: 1/10;
    grid-column: 3/4;    
    border-left: 3px solid white;    
}



.sep__population {
    grid-row: 2/2;
    grid-column: 3/4;
    border-top: 1px solid white;
}

.sep__size {
    grid-row: 1/1;
    grid-column: 2/3;
    border-top: 1px solid white;
}

.sep__lang {
    grid-row: 6/6;
    grid-column: 2/3;
    border-top: 1px solid white; 
    
}

.sep__rio {
    grid-row: 6/6;
    grid-column: 3/4;
    border-top: 1px solid white;
}

footer {
    margin: 15vh 0vw 0vh -7vw;
    background-color: #052c69;
    width: 100%;
    text-align: center;
    padding: 1rem;
    position: absolute;
}

footer p {
    font-size: 1rem;
    color: white;
}

footer p a {
    color: white;
}

